@import "../mixins.scss";
@import "../variables.scss";

.comment {
  @include margin-padding-reset;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 280px;

  background-color: $grey;
}

.comment:not(.comment--panorama) {
  padding: 18px 17px 20px;
}

.comment--panorama {
  padding: 18px 18px 19px;
  width: 280px;
  margin: 0 auto;
}

.comment__author {
  @include fonts($font-weight: 700);
  font-style: normal;
}

.comment__author--time {
  @include fonts($font-size: 11.5px, $font-weight: 300);
  text-transform: uppercase;
}

.comment__text {
  @include margin-padding-reset;
  padding-bottom: 10px;
}

.comment__like {
  position: relative;

  @include margin-padding-reset;
  @include fonts(12px, 24px, $color: $raspberry);

  text-transform: uppercase;

  &::before {
    position: absolute;
    top: 5px;
    left: 0;

    content: "";
    width: 12.545px;
    height: 11.99px;
    display: block;

    background-image: url("../img/icon-heart.svg");
    background-repeat: no-repeat;
  }
}

.comment__like--padding {
  padding-left: 32px;
}

@media (min-width: $tablet-width) {
  .comment {
    width: 300px;
    min-height: 150px;
  }

  .comment:not(.comment--panorama) {
    padding: 24px 27px 22px;
    min-height: 155px;
  }

  .comment--panorama {
    position: relative;

    width: 620px;
    min-height: auto;
    margin: 0 auto;
    padding: 23px 27px 24px;
  }

  .comment__like {
    margin-top: auto;

    &::before {
      left: 228px;
    }
  }

  .comment__like--panorama {
    position: absolute;
    right: 59px;
    top: 24px;

    &::before {
      left: 105px;
    }
  }

  .comment__like--padding {
    padding-left: 0;
  }

  .comment__text--panorama,
  .comment__text {
    padding-bottom: 0;
  }

  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .comment {
      position: relative;
    }

    .comment__like:not(.comment__like--panorama) {
      position: absolute;
      bottom: 23px;
      left: 27px;
    }
  }
}

@media (min-width: $desktop-width) {
  .comment--panorama {
    width: 940px;
    padding: 24px 27px 23px;
  }

  .comment__like--panorama {
    right: 62px;
    top: 25px;
  }
}
