@import "../mixins.scss";
@import "../variables.scss";

.contacts {
  position: relative;
  z-index: 1;

  padding-top: 42px;

  background-color: #ffffff;
}

.contacts__list {
  position: relative;

  display: flex;
  flex-direction: column;

  @include reset-list;

  background-color: #ffffff;
}

.contacts__item {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.contacts__item:last-child {
  padding-bottom: 40px;
}


.contacts__offer {
  @include margin-padding-reset;
  @include fonts(24px, 29px, 300);

  padding-bottom: 30px;

  text-align: center;
}

.contacts__title {
  @include fonts(18px, 28px, 700);
  display: block;
  margin: 0;

  text-align: center;
}

.contacts__info {
  margin: 0;

  @include fonts(24px, 30px, 300, $raspberry);

  text-align: center;
}

.contacts__svg-triangle {
  position: absolute;
  top: 413px;
  left: 0;
  z-index: 10;

  width: 100%;
  height: 29px;

  fill: #ffffff;
}

.contacts__map--hide-marker {
  &::after {
    top: -30px;
  }
}

.contacts__link {
  margin: 0;

  @include fonts(24px, 30px, 300, $raspberry);

  text-align: center;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $font-color;
    text-decoration: underline;
  }

  &:active {
    color: $font-color;
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .contacts {
    padding-top: 47px;
    margin-bottom: 40px;
  }

  .contacts__offer {
    width: 370px;
    margin: 0 auto;
    padding-bottom: 40px;

    @include fonts(40px, 48px, 300);
  }

  .contacts__list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .contacts__item {
    width: 300px;
    padding-bottom: 50px;
  }

  .contacts__item:first-child {
    margin-right: auto;
  }

  .contacts__item:last-child {
    width: 220px;
    margin: 0 auto;
    padding-bottom: 28px;
  }

  .contacts__svg-triangle {
    top: 406px;

    height: 66px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    padding-top: 64px;
    margin-bottom: 72px;
  }

  .contacts__offer {
    width: 465px;
    margin: 0 auto;
    padding-bottom: 55px;

    @include fonts(50px, 60px, 300);
  }

  .contacts__title {
    padding-bottom: 20px;
  }

  .contacts__item:last-child {
    padding-bottom: 20px;
  }

  .contacts__item:first-child {
    margin-right: 0;
    margin-left: 10px;
  }

  .contacts__item:nth-child(2) {
    order: 2;
    margin-right: 10px;
  }

  .contacts__svg-triangle {
    top: 366px;
    height: 102px;
  }
}

@media (max-width: $mobile-width) {
  .contacts__map {
    width: 100%;
    min-height: 200px;

    background-color: #f3f1ea;
    background-image: url("../img/bg-map-mobile@1x.png");
    background-repeat: no-repeat;
    background-size: 320px;
    background-position: 0 -448px;

    &::after {
      position: absolute;
      bottom: 72px;
      left: 50%;
      margin: 0 0 0 -18px;

      content: "";
      display: block;
      width: 35.983px;
      height: 35.983px;

      background-image: url("../img/icon-map-marker.svg");
      background-repeat: no-repeat;
    }

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-map-mobile@2x.jpg");
      background-size: 320px;
    }
  }
}

@media (min-width: 321px) and (max-width: $tablet-width) {
  .contacts__map {
    width: 100%;
    min-height: 371px;

    background-image: url("../img/bg-map-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-size: 700px;
    background-position: center -350px;

    &::after {
      position: absolute;
      bottom: 145px;
      left: 50%;
      margin: 0 0 0 -18px;

      content: "";
      display: block;
      width: 35.983px;
      height: 35.983px;

      background-image: url("../img/icon-map-marker.svg");
      background-repeat: no-repeat;
    }

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-map-tablet@2x.jpg");
      background-size: 700px;
    }
  }
}

@media (min-width: 661px) {
  .contacts__map {
    width: 100%;
    min-height: 501px;

    background-image: url("../img/bg-map-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-size: 1200px;
    background-position: center -278px;

    &::after {
      position: absolute;
      bottom: 202px;
      left: 50%;
      margin: 0 0 0 -18px;

      content: "";
      display: block;
      width: 35.983px;
      height: 35.983px;

      background-image: url("../img/icon-map-marker.svg");
      background-repeat: no-repeat;
    }

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-map-desktop@2x.jpg");
    }
  }
}
