@import "../mixins.scss";
@import "../variables.scss";

.contest {
  margin-bottom: 55px;

  background-color: #ffffff;
}

.contest__offer {
  @include margin-padding-reset;
  padding-top: 45px;
  padding-bottom: 34px;

  @include fonts($line-height: 30px);
  text-align: center;
}

.contest__form-fill {
  display: none;
}

.contest__fieldset {
  @include margin-padding-reset;

  width: 320px;
  margin: 0 auto;
  box-sizing: border-box;

  border: none;
}

.contest__fieldset--achievments,
.contest__fieldset--app {
  padding-top: 43px;
  margin-top: -49px;

  background-color: $grey;
}

.contest__fieldset--info {
  padding-top: 32px;
}

.contest__fieldset--app {
  padding-top: 38px;
}

.contest__fieldset--emotions {
  padding-top: 32px;
}

.contest__legend {
  width: 230px;
  margin: 0 auto;

  @include fonts($line-height: 18px, $color: $raspberry);
  text-transform: uppercase;
}

.contest__legend--achievments,
.contest__legend--app {
  padding-top: 112px;

  text-align: center;
}

.contest__legend--hide {
  display: none;
}

.contest__wrapper {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.contest__wrapper--aside {
  align-items: center;
  margin-bottom: 52px;
}

.contest__wrapper--aside:last-child {
  margin-bottom: 47px;
}

.contest__wrapper--aside-app {
  align-items: center;
  margin-bottom: 46px;
}

.contest__label--top {
  padding-left: 22px;
  padding-bottom: 5px;

  @include fonts($line-height: 30px, $color: $raspberry);
  text-transform: uppercase;
}

.contest__label--checkbox {
  position: relative;

  padding-left: 70px;

  @include fonts(18px, 30px);

  &::before {
    position: absolute;
    top: 0;
    left: 0;

    content: "";
    width: 35px;
    height: 35px;
    display: block;
    margin-top: -4px;

    background-color: #ffffff;
    border: 2px solid $input-border;
  }

  &::after {
    position: absolute;
    top: 7px;
    left: 9px;

    content: "";
    display: none;
    width: 22px;
    height: 16px;

    background-image: url("../../img/icon-checkmark.svg");
  }

  &:hover,
  &:focus {
    &::before {
      border: 2px solid $font-color;
    }
  }

  &:active {
    &::before {
      border: 2px solid $raspberry;
    }
  }
}

.contest__input--checkbox:checked + .contest__label--checkbox {
  &::after {
    display: block;
  }
}

.contest__input--checkbox:focus + .contest__label--checkbox {
  &::before {
    border: 2px solid $font-color;
  }
}

.contest__label--radio-btn {
  position: relative;

  padding-left: 69px;

  @include fonts(18px, 30px);

  &::before {
    position: absolute;
    top: 0;
    left: 0;

    content: "";
    width: 35px;
    height: 35px;
    display: block;
    margin-top: -3px;

    background-color: #ffffff;
    border: 2px solid $input-border;
    border-radius: 50%;
  }

  &::after {
    position: absolute;
    top: 9px;
    left: 12px;

    content: "";
    display: none;
    width: 15px;
    height: 15px;

    background-color: $raspberry;
    border-radius: 50%;
  }

  &:hover,
  &:focus {
    &::before {
      border: 2px solid $font-color;
    }
  }

  &:active {
    &::before {
      border: 2px solid $raspberry;
    }
  }
}

.contest__input--radio-btn:checked + .contest__label--radio-btn {
  &::after {
    display: block;
  }
}

.contest__input--radio-btn:focus + .contest__label--radio-btn {
  &::before {
    border: 2px solid $font-color;
  }
}

.contest__label--textarea {
  padding-left: 48px;
}

.contest__input--field {
  width: 280px;
  margin-bottom: 17px;

  @include fonts(18px, 30px);
  font-family: inherit;

  border: 2px solid $input-border;
}

.contest__input {
  padding: 14px 20px 15px;
  box-sizing: border-box;
  border: 2px solid $input-border;
}

.contest__input--checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.contest__input--radio-btn {
  position: absolute;
  opacity: 0;
}

.contest__textarea {
  width: 280px;
  height: 201px;
  padding: 14px 21px 14px 19px;
  margin: 5px 0 48px;
  box-sizing: border-box;

  font: inherit;

  @include fonts(18px, 30px);

  border: 2px solid $input-border;
}

.contest__input--field::placeholder {
  color: $font-color;
  opacity: 1;
}

.contest__input--field::-webkit-input-placeholder {
  color: $font-color;
}

.contest__input--field::-moz-placeholder {
  color: $font-color;
  opacity: 1;
}

.contest__input--field:-moz-placeholder {
  color: $font-color;
  opacity: 1;
}

.contest__input--field:-ms-input-placeholder {
  color: $font-color;
}

.contest__textarea::placeholder {
  color: $font-color;
  opacity: 1;
}

.contest__textarea::-webkit-input-placeholder {
  color: $font-color;
}

.contest__textarea::-moz-placeholder {
  color: $font-color;
  opacity: 1;
}

.contest__textarea:-moz-placeholder {
  color: $font-color;
  opacity: 1;
}

.contest__textarea:-ms-input-placeholder {
  color: $font-color;
}

.contest__required {
  @include margin-padding-reset;
  @include fonts($line-height: 30px);

  text-transform: uppercase;
  text-align: center;
}

.contest__required--mark {
  color: $raspberry;
  font-weight: 700;
}

.contest__button-wrapper {
  display: flex;
  flex-direction: column;
  width: 280px;
  margin: 0 auto;
}

.contest__button {
  @include btn-reset;
  @include fonts(18px, 30px, 700, #ffffff);

  padding: 16px 45px 17px;
  margin-bottom: 35px;

  text-transform: uppercase;

  border-radius: 3px;
  background-color: #2aab6d;
}

.contest__required--fill {
  display: none;
}

@media (min-width: $tablet-width) {
  .contest {
    margin-bottom: 89px;
  }

  .contest__offer {
    width: 490px;
    margin: 0 auto;
    padding-top: 92px;
    padding-bottom: 51px;

    font-size: 18px;
  }

  .contest__form-fill {
    display: inline-block;
  }

  .contest__form {
    display: flex;
    flex-wrap: wrap;
    padding: 0 20px;
  }

  .contest__fieldset {
    width: 620px;
    padding: 20px 0;
  }

  .contest__fieldset:not(:first-of-type) {
    border: 2px solid $input-border;
  }

  .contest__fieldset--app {
    order: 2;
    padding: 48px 0 11px 58px;
    margin-bottom: 57px;
  }

  .contest__fieldset--info {
    order: 3;
    padding: 37px 0 0 58px;
    margin-bottom: 57px;
  }

  .contest__fieldset--achievments {
    order: 4;
    padding: 48px 0 6px 58px;
    margin-bottom: 57px;
  }

  .contest__fieldset--emotions {
    order: 5;
    padding: 32px 0 3px 58px;
    margin-bottom: 67px;
  }

  .contest__wrapper--top {
    align-items: center;
    justify-content: space-between;
    margin-bottom: 52px;
  }

  .contest__wrapper--top:last-child {
    margin-bottom: 38px;
  }

  .content__wrapper--aside-app {
    margin-bottom: 44px;
  }

  .contest__wrapper--top-info {
    position: relative;

    margin-bottom: 29px;

    &::after {
      position: absolute;
      top: 2px;
      right: 60px;

      content: "";
      width: 60px;
      height: 60px;
      display: block;

      background-color: $input-border;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  .contest__wrapper--phone {
    &::after {
      background-image: url("../../img/icon-phone.svg");
    }
  }

  .contest__wrapper--email {
    &::after {
      background-image: url("../../img/icon-mail.svg");
    }
  }

  .contest__wrapper--top-info:nth-child(2) {
    margin-bottom: 26px;
  }

  .contest__input--field {
    margin-bottom: 0;
  }

  .contest__input--second-name,
  .contest__input--middle-name {
    width: 525px;
  }

  .contest__input--first-name {
    width: 565px;
  }

  .contest__button-wrapper {
    order: 6;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 620px;
  }

  .contest__button {
    padding: 16px 57px 17px 58px;
    margin-bottom: 0;
  }

  .contest__label--top {
    padding: 0;
  }

  .contest__label--checkbox,
  .contest__label--radio-btn {
    padding-left: 59px;
  }

  .contest__label--textarea {
    display: none;
  }

  .contest__label--phone,
  .contest__label--email {
    padding-top: 10px;
    padding-left: 19px;
    order: 2;
    width: 130px;
  }

  .contest__fieldset--achievments,
  .contest__fieldset--app {
    margin-top: 0;
    background-color: transparent;
  }

  .contest__legend--achievments,
  .contest__legend--app {
    padding-top: 0;
  }

  .contest__legend {
    width: auto;
    padding: 0 25px;
  }

  .contest__legend--hide {
    display: block;
  }

  .contest__legend--info {
    margin-right: 185px;
  }

  .contest__legend--emotions {
    position: static;
    clip: auto;
    overflow: visible;

    height: auto;
    width: auto;
    margin: 0;

    text-align: center;
  }

  .contest__input--phone,
  .contest__input--email {
    width: 500px;
    margin-bottom: 0;
  }

  .contest__textarea {
    width: 500px;
    height: 193px;
  }
}

@media (min-width: $desktop-width) {
  .contest {
    margin-bottom: 72px;
  }

  .contest__offer {
    width: 765px;
  }

  .contest__form {
    width: 940px;
    padding: 19px 10px 0;
    margin: 0 auto;
  }

  .contest__wrapper--top {
    margin-bottom: 54px;
  }

  .contest__wrapper--top-info {
    display: flex;
    flex-direction: column;
    margin-bottom: 13px;
  }

  .contest__wrapper--aside {
    width: 260px;
  }

  .contest__wrapper--aside:first-child {
    order: 1;
    margin-right: 55px;
  }

  .contest__wrapper--aside:nth-child(2) {
    order: 4;
    margin-right: 55px;
  }

  .contest__wrapper--aside:nth-child(3) {
    order: 2;
    margin-right: 35px;
  }

  .contest__wrapper--aside:nth-child(4) {
    order: 5;
    margin-right: 35px;
  }

  .contest__wrapper--aside:nth-child(5) {
    order: 3;
  }

  .contest__wrapper--aside:last-child {
    order: 6;
  }

  .contest__wrapper--top-info:first-child {
    margin-right: 12px;
  }

  .contest__wrapper--top-info:last-child {
    margin-bottom: 0;
  }

  .contest__wrapper--top:nth-child(2) {
    margin-bottom: 52px;
  }

  .contest__wrapper--top:last-child {
    margin-bottom: 0;
  }

  .contest__wrapper--aside-app:last-child {
    margin-bottom: 0;
  }

  .contest__fieldset--name,
  .contest__fieldset--app {
    width: 435px;
  }

  .contest__fieldset--info {
    padding: 34px 0 0 58px;
    margin-top: 57px;
  }

  .contest__legend--info {
    margin: 0;

    text-align: center;
  }

  .contest__input--second-name,
  .contest__input--middle-name {
    width: 340px;
  }

  .contest__input--first-name {
    width: 380px;
  }

  .contest__input--phone,
  .contest__input--email {
    width: 375px;
  }

  .contest__fieldset--name {
    @include margin-padding-reset;
    margin-right: auto;
    padding-top: 14px;
  }

  .contest__fieldset--app {
    @include margin-padding-reset;
    margin-left: auto;
  }

  .contest__fieldset--achievments {
    padding: 48px 0 8px 58px;
  }

  .contest__fieldset--emotions {
    padding: 29px 0 43px 58px;
    margin-bottom: 65px;
  }

  .contest__fieldset--info,
  .contest__fieldset--achievments,
  .contest__fieldset--emotions,
  .contest__button-wrapper {
    width: 940px;
  }

  .contest__textarea {
    width: 820px;
    height: 128px;
    margin-bottom: 0;
  }

  .contest__required--fill {
    display: inline-block;
  }
}
