@import "../mixins.scss";
@import "../variables.scss";

.download-app {
  position: relative;

  &::before {
    position: absolute;
    top: -286px;
    left: 0;

    content: "";
    display: inline-block;
    width: 258px;
    height: 286px;

    background-image: url("../../img/iphone-hand-mobile@1x.png");
    background-repeat: no-repeat;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../../img/iphone-hand-mobile@2x.png");
      background-size: 258px auto;
    }
  }
}

.download-app__wrapper {
  width: 280px;
  padding-top: 28px;
  padding-bottom: 30px;
  margin: 0 auto;
}

.download-app__claim {
  display: none;
}

.download-app__btn {
  @include fonts(18px, 18px, 700, #ffffff);

  padding: 14px 32px 17px 36px;
  margin: 0 auto;
  margin-bottom: 30px;
  display: block;
  box-sizing: border-box;

  border: 3px solid #ffffff;
  border-radius: 50px;
}

.download-app__accessibility {
  @include margin-padding-reset;
  @include fonts($font-weight: 300, $color: #ffffff);

  text-align: center;
}

@media (min-width: $tablet-width) {
  .download-app {
    max-width: 660px;
    margin: 0 auto;

    &::before {
      top: 8px;
      left: -3%;

      content: "";
      display: inline-block;
      width: 660px;
      height: 545px;

      background-image: url("../../img/iphone-hand-tablet@1x.png");
      background-repeat: no-repeat;
      background-size: 700px auto;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../../img/iphone-hand-tablet@2x.png");
        background-size: 700px auto;
      }
    }
  }

  .download-app__wrapper {
    position: relative;
    z-index: 10;

    width: 300px;
    padding-bottom: 110px;
    margin: 0;
  }

  .download-app__claim {
    display: block;
    width: 188px;

    @include margin-padding-reset;
    @include fonts(40px, 48px, 300, #ffffff);
    margin: 0 auto;
    margin-bottom: 28px;

    text-align: center;
  }

  .download-app__accessibility {
    font-size: 18px;
  }

  .download-app__btn {
    padding: 14px 0 17px;
    margin-bottom: 43px;
    text-align: center;
  }
}

@media (min-width: $desktop-width) {
  .download-app {
    max-width: 960px;

    &::before {
      top: 28px;
      left: 28px;

      content: "";
      display: inline-block;
      width: 900px;
      height: 645px;

      background-image: url("../../img/iphone-hand-desktop@1x.png");
      background-repeat: no-repeat;
      background-size: 1050px auto;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../../img/iphone-hand-desktop@2x.png");
        background-size: 1050px auto;
      }
    }
  }

  .download-app__claim {
    width: 240px;

    @include fonts(50px, 58px, 300, #ffffff);
  }

  .download-app__wrapper {
    padding: 40px 0 122px 0;
  }

  .download-app__btn {
    margin: 55px 0 65px;
    padding: 14px 0 17px;

    font-size: 21px;
    text-align: center;
  }
}

@media (min-width: 400px) and (max-width: 659px) {
  .download-app {
    &::before {
      left: 50%;
      margin-left: -120px;
    }
  }
}
