@import "../mixins.scss";
@import "../variables.scss";

.elements {
  @include reset-list;
  width: 280px;
  min-height: 150px;
  margin-bottom: 43px;
  outline: 2px solid #000000;
}

.elements__item {
  width: 280px;
}

@media (min-width: $desktop-width) {
  .elements {
    width: 410px;
    min-height: 205px;
    margin-bottom: 140px;
  }
}
