@import "../mixins.scss";
@import "../variables.scss";

.features {
  background-color: #ffffff;
}

.features__offer {
  @include fonts(24px, 27px, 300);
}

.features__list {
  @include reset-list;
  background-color: $grey;
}

.features__item--effect-24 {
  display: none;
}

.features__image--tablet {
  display: none;
}

.features__image--desktop {
  display: none;
}

.features__title {
  @include fonts(18px, 24px, 700, #000000);
}

.features__title--effect-24 {
  @include fonts(30px, 36px, 700, #000000);
}

@media (min-width: 660px) {
  .features__item--effect-24 {
    display: block;
  }

  .features__image--mobile {
    display: none;
  }

  .features__image--tablet {
    display: block;
  }
}
