@import "../mixins.scss";
@import "../variables.scss";

.header {
  position: relative;

  margin-bottom: -70px;

  background-color: $font-color;
}

.header--active {
  background-color: rgba($color: #000000, $alpha: 0.3);
}

.header__toggle {
  @include btn-reset;
  @include margin-padding-reset;
  display: none;
}

.header__toggle--show {
  display: block;
}

.header__logo {
  &:hover,
  &:focus {
    fill: $raspberry;
  }

  &:active {
    fill: #ffffff;
    opacity: 0.3;
  }
}

.header__logo--tablet,
.header__logo--desktop {
  display: none;
}

.header__svg {
  &:hover,
  &:focus {
    fill: $raspberry;
  }

  &:active {
    fill: $raspberry;
    opacity: 0.3;
  }
}

.header__svg-close {
  display: none;
}

.header__svg-open--hide {
  display: none;
}

.header__svg-close--show {
  display: block;
}

.header__navigation--hide {
  display: none;
}

.header__navigation--show {
  display: block;
}

@media (min-width: $tablet-width) {
  .header {
    margin-bottom: -112px;
  }

  .header__logo {
    width: 147px;
    height: 40px;
  }

  .header__toggle {
    padding-top: 15px;
  }

  .header__logo--mobile {
    display: none;
  }

  .header__logo--tablet {
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .header {
    margin-bottom: -140px;

    background-color: rgba($color: #000000, $alpha: 0.3);
  }

  .header__logo--tablet {
    display: none;
  }

  .header__logo--desktop {
    display: block;
    margin-bottom: 20px;
  }

  .header__wrapper {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    max-width: 960px;
    padding: 0 10px;
    margin: 0 auto;
  }

  .header__toggle {
    display: none;
  }

  .header__navigation--hide {
    display: block;
  }
}
