@import "../mixins.scss";
@import "../variables.scss";


.menu {
  @include reset-list;

  background-color: $font-color;
}

.menu__item {
  padding: 15px 0;
  text-align: center;
  border-top: 1px solid #485461;
  border-bottom: 1px solid #000000;
}

.menu__link {
  @include fonts(18px, 32px, 700, #ffffff);
  text-transform: uppercase;

  display: block;
  min-height: 30px;

  &:hover,
  &:focus {
    color: $raspberry;
  }

  &:active {
    color: rgba($color: $raspberry, $alpha: 0.3);
  }
}

@media (min-width: $desktop-width) {
  .menu {
    display: flex;
    width: 617px;

    background-color: transparent;
  }

  .menu__link {
    @include fonts(18px, 18px, 400, #ffffff);
    text-transform: none;

    &:active {
      color: rgba($color: #ffffff, $alpha: 0.3);
    }
  }

  .menu__item {
    padding: 43px 0;
    border: none;
    text-align: left;
  }

  .menu__link--active {
    border-bottom: 2px solid #ffffff;
    cursor: pointer;

    &:hover,
    &:focus {
      color: #ffffff;
    }

    &:active {
      opacity: 1;
    }
  }
}
