@import "../mixins.scss";
@import "../variables.scss";

.os {
  @include reset-list;
  @include flex-between;
  align-items: flex-end;

  width: 207px;
  margin: 0 auto;
  margin-bottom: 17px;
}

@media (min-width: $tablet-width) {
  .os {
    margin-bottom: 34px;
  }
}

@media (min-width: $desktop-width) {
  .os {
    margin-bottom: 51px;
  }
}
