@import "../mixins.scss";
@import "../variables.scss";

.page-main {
  background-image: url("../../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.page-main--index {
  padding-top: 462px;
}

.page-main__title {
  @include fonts(24px, 29px, 300, #ffffff);
}

.page-main__title--form {
  display: block;
  width: 235px;
  padding-top: 98px;
  padding-bottom: 54px;
  margin: 0 auto;

  text-align: center;
}

.page-main__title--photo {
  width: 175px;
  padding-top: 98px;
  padding-bottom: 83px;
  margin: 0 auto;

  text-align: center;
}

@media (min-width: $tablet-width) {
  .page-main--index {
    padding-top: 210px;
  }

  .page-main__title {
    @include fonts(50px, 60px, 300, #ffffff);
  }

  .page-main__title--form {
    width: 475px;
    padding-top: 185px;
    padding-bottom: 80px;
  }

  .page-main__title--photo {
    width: 360px;
    padding-top: 185px;
    padding-bottom: 140px;
  }
}

@media (min-width: $desktop-width) {
  .page-main__title--form {
    padding-top: 202px;
    padding-bottom: 101px;
    width: 750px;
  }

  .page-main__title--photo {
    padding-top: 202px;
    padding-bottom: 101px;
  }
}
