@import "../mixins.scss";
@import "../variables.scss";

.posting {
  margin-bottom: 40px;
  background-color: #ffffff;
}

.posting__offer {
  @include margin-padding-reset;
  width: 260px;
  margin: 0 auto;
  padding-top: 37px;
  padding-bottom: 42px;

  text-align: center;

  @include fonts($line-height: 30px);
}

.posting__image {
  display: block;
  margin: 0 auto;
}

.posting__form {
  padding: 20px 0 43px;
  background-color: $grey;
}

.posting__range--color,
.posting__range--contrast {
  display: none;
}

.posting__buttons {
  padding-top: 38px;
}

@media (min-width: $tablet-width) {
  .posting__offer {
    width: 450px;
    font-size: 18px;
    padding-top: 45px;
    padding-bottom: 69px;
  }

  .posting__form {
    padding: 57px 0 4px;
  }

  .posting__image {
    width: 300px;
    height: 400px;
    margin: 0;
  }

  .posting__list {
    align-self: flex-end;
  }

  .posting__buttons {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    width: 260px;
    margin-right: 13px;
    padding-top: 0;
  }

  .posting__range--color,
  .posting__range--contrast {
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .posting {
    margin-bottom: 100px;
  }

  .posting__offer {
    padding-top: 39px;
    padding-bottom: 66px;
  }

  .posting__form {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 10px;
    box-sizing: border-box;

    background-color: transparent;
  }

  .posting__buttons {
    width: 410px;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0;
    margin-right: 0;
  }
}
