@import "../mixins.scss";
@import "../variables.scss";

.prices {
  position: relative;

  background-color: $grey;
}

.prices__svg-triangle {
  position: absolute;
  top: -25px;
  left: 0;

  width: 100%;
  height: 25px;

  fill: $grey;
  transform: scale(-1);
}

.prices__type {
  display: block;

  @include fonts(18px, 30px, 700, #ffffff);
  text-transform: uppercase;
  text-align: center;
}

.prices__value {
  @include margin-padding-reset;
  @include fonts(24px, 30px, 300, #ffffff);
  text-transform: uppercase;
  text-align: center;
}

.prices__data {
  position: relative;

  padding: 15px 0 15px 22px;

  @include fonts($line-height: 30px);
  text-transform: uppercase;

  background-color: #ffffff;
  border-bottom: 2px solid $input-border;
  border-right: 2px solid $input-border;

  &::after {
    position: absolute;
    right: 15px;
    top: 20px;

    content: "";
    display: block;

    background-repeat: no-repeat;
  }
}

.prices__data--yes {
  &::after {
    width: 31px;
    height: 21px;

    background-image: url("../img/icon-yes.svg");
  }
}

.prices__data--no {
  &::after {
    width: 27px;
    height: 26px;

    background-image: url("../img/icon-no.svg");
  }
}

.prices__list {
  max-width: 320px;
  padding: 66px 0 38px;
  margin: 0 auto;
  overflow: hidden;
}

.prices__table {
  display: flex;
  width: 1100px;

  transform: translateX(-528px);
}

.prices__column {
  width: 275px;
  box-sizing: border-box;
}

.prices__header-data {
  width: 273px;
  padding: 16px 0 20px;

  background-color: $font-color;
}

.prices__header-data--hit {
  position: relative;

  &::before {
    position: absolute;
    top: 0;
    left: 0;

    content: "";
    display: block;
    width: 74px;
    height: 73px;
    background-image: url("../img/bg-hit.svg");
  }

  &::after {
    position: absolute;
    top: 13px;
    left: 10px;

    content: "Хит";
    display: block;

    @include fonts($line-height: 30px, $font-weight: 600, $color: #ffffff);
    text-transform: uppercase;
    transform: rotate(-45deg);
  }
}

.prices__column:first-child .prices__header-data {
  visibility: hidden;
}

.prices__column:first-child .prices__data {
  border-left: 2px solid $input-border;
}

.prices__column .prices__data:nth-child(2) {
  border-top: 2px solid $font-color;
}

.prices__column:first-child .prices__data:nth-child(2) {
  border-top-color: $input-border;
}

.prices__column:last-child .prices__header-data {
  border-right: 2px solid $font-color;
}

.prices__toggles {
  display: flex;
  justify-content: center;
  padding-bottom: 53px;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .prices__svg-triangle {
    overflow: hidden;
  }
}

@media (min-width: $tablet-width) {
  .prices__list {
    max-width: 620px;
    padding: 38px 20px 70px;
    overflow: visible;
    margin: 0 auto;
  }

  .prices__svg-triangle {
    top: -50px;

    height: 50px;
  }

  .prices__table {
    max-width: 620px;

    transform: translateX(0);
  }

  .prices__column {
    width: 155px;
  }

  .prices__header-data {
    width: 153px;
    padding: 12px 0 6px;
  }

  .prices__data {
    padding: 7px 0 7px 15px;

    text-transform: none;

    &::after {
      right: 50%;
      top: 50%;
      margin-top: -13px;
      margin-right: -17px;
    }
  }

  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .prices__column:not(:first-child) .prices__data {
      padding: 22px 0 22px 15px;
    }

    .prices__list {
      padding: 38px 0 70px;
    }
  }

  .prices__column:not(:first-child) .prices__data {
    font-size: 0;
  }

  .prices__type {
    font-size: 16px;
  }

  .prices__header-data--hit {
    &::before {
      top: 0;
      left: 0;

      content: "";
      width: 61px;
      height: 61px;
      background-image: url("../img/bg-hit-tablet.svg");
    }

    &::after {
      top: 6px;
      left: 6px;
    }
  }

  .prices__value {
    font-size: 18px;
  }
}

@media (min-width: $desktop-width) {
  .prices__list {
    max-width: 960px;
    box-sizing: border-box;
    padding: 67px 10px 92px;
  }

  .prices__table {
    max-width: 940px;
  }

  .prices__column {
    width: 235px;
  }

  .prices__header-data {
    width: 233px;
    padding: 18px 0;
  }

  .prices__header-data--hit {
    &::before {
      top: 0;
      left: 0;

      content: "";
      width: 74px;
      height: 73px;
      background-image: url("../img/bg-hit.svg");
    }

    &::after {
      top: 12px;
      left: 10px;
    }
  }

  .prices__data {
    padding: 15px 0 15px 20px;

    font-size: 18px;
  }

  .prices__type {
    font-size: 18px;
  }

  .prices__value {
    font-size: 24px;
  }

  .prices__svg-triangle {
    top: -81px;

    height: 81px;
  }

  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .prices__column:not(:first-child) .prices__data {
      padding: 30px 0 30px 15px;
    }

    .prices__list {
      max-width: 940px;
      padding: 67px 10px 92px;
    }

    .prices__table {
      max-width: 940px;
    }

    .prices__column {
      width: 230px;
    }

    .prices__header-data {
      width: 228px;
    }
  }

  @supports (-ms-ime-align:auto) {
    .prices__list {
      max-width: 940px;
      padding: 67px 10px 92px;
    }

    .prices__table {
      max-width: 940px;
    }

    .prices__column {
      width: 230px;
    }

    .prices__header-data {
      width: 228px;
    }
  }
}

@media (min-width: 321px) and (max-width: $tablet-width) {
  .prices__svg-triangle {
    max-width: 100%;
  }
}
