@import "../mixins.scss";
@import "../variables.scss";

.publicate__btn {
  @include btn-reset;
  @include fonts(18px, 18px, 700);

  margin: 0 auto;
  display: block;
  box-sizing: border-box;

  border: 3px solid;
  border-radius: 50px;
}

.publicate__btn--submit {
  padding: 15px 88px;
  margin-bottom: 12px;

  color: $raspberry;

  border-color: $raspberry;
}

.publicate__btn--reset {
  padding: 15px 100px;

  color: rgba($color: $font-color, $alpha: 0.1);

  border-color: rgba($color: $font-color, $alpha: 0.1);
}

@media (min-width: $desktop-width) {
  .publicate__btn {
    margin: 0;
  }

  .publicate__btn--submit {
    padding: 15px 38px;
    margin-bottom: 0;
  }

  .publicate__btn--reset {
    padding: 15px 52px;
  }
}
