@import "../mixins.scss";
@import "../variables.scss";

.reviews {
  position: relative;

  margin-top: -73px;
  padding-top: 42px;

  background-color: #ffffff;
}

.reviews__list-wrapper {
  max-width: 280px;
  padding-bottom: 32px;
  margin: 0 auto;

  overflow: hidden;
}

.reviews__list {
  display: flex;
  width: 960px;
  margin: 0 auto;
}

.review__item {
  @include reset-list;
  display: flex;
  flex-direction: column;
  width: 280px;

  text-align: center;
}

.review__author {
  @include fonts(18px, 30px, 700, #000000);

  display: block;

  font-style: normal;
  text-align: center;
}

.review__author-info {
  display: none;

  @include fonts(14px, 30px);
  font-style: normal;
}

.review__text {
  @include margin-padding-reset;
  @include fonts($line-height: 30px);

  padding-top: 13px;
}

.reviews__toggles {
  display: flex;
  justify-content: center;
  padding-bottom: 75px;
}

@media (min-width: $tablet-width) {
  .reviews {
    margin-top: 0;
    padding-top: 47px;
  }

  .reviews__list-wrapper {
    max-width: 620px;
  }

  .reviews__list {
    width: 1860px;
  }

  .review__item {
    width: 620px;
  }

  .review__author {
    order: 2;

    font-size: 20px;
  }

  .review__author-info {
    display: block;
    order: 2;
  }

  .review__text {
    order: 1;
    padding-top: 18px;
    padding-bottom: 34px;

    @include fonts(18px, 30px);
  }

  .reviews__toggles {
    padding-bottom: 80px;
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    padding-top: 170px;
  }

  .reviews__list-wrapper {
    max-width: 940px;
    padding-bottom: 123px;
  }

  .reviews__list {
    width: 2820px;
  }

  .review__item {
    width: 940px;
  }

  .review__author-info {
    @include fonts(18px, 30px);
  }

  .review__author {
    font-size: 24px;
  }

  .review__text {
    width: 690px;
    margin: 0 auto;
  }

  .reviews__toggles {
    display: none;
  }
}
