@import "../mixins.scss";
@import "../variables.scss";

.reviews {
  position: relative;

  margin-top: -50px;
  padding-top: 50px;

  background-color: #ffffff;
}

.reviews__list {
  display: flex;
  flex-direction: column;
  width: 86.5%;
  margin: 0 auto;
}

.review__item {
  margin: 0 auto;

  @include reset-list;
}

.review__author {
  @include fonts(18px, 30px, 700, #000000);

  display: block;

  font-style: normal;
  text-align: center;
}

.review__text {
  @include fonts($line-height: 30px);
}
