@import "../mixins.scss";
@import "../variables.scss";


.slider {
  display: flex;
  width: 60px;
  margin: 0 auto;
  justify-content: space-between;
}

.slider__toggle {
  @include btn-reset;
  @include margin-padding-reset;

  width: 6px;
  height: 6px;
  align-self: center;
  background-color: rgba($color: $font-color, $alpha: 0.3);
  border-radius: 50%;
}

.slider__toggle--active {
  width: 10px;
  height: 10px;
  border: 3px solid $font-color;
  background-color: #ffffff;
}

@media (min-width: $tablet-width) {
  .slider {
    display: none;
  }
}
