@import "../mixins.scss";
@import "../variables.scss";

.social {
  @include reset-list;
}

.social__link {
  display: block;
  width: 40px;
  height: 40px;
  box-sizing: border-box;

  border: 3px solid #e9ebec;
  border-radius: 50%;

  background-repeat: no-repeat;
  background-position: center;

  &:hover,
  &:focus {
    border: 3px solid $font-color;
  }

  &:active {
    opacity: 0.3;
    border: 3px solid #e9ebec;
  }
}

.social__link--twitter {
  background-image: url("../../img/icon-twitter.svg");
}

.social__link--facebook {
  background-image: url("../../img/icon-facebook.svg");
}

.social__link--youtube {
  background-image: url("../../img/icon-youtube.svg");
}
