body {
  @include margin-padding-reset;
  @include fonts;

  max-width: 320px;
  margin: 0 auto;

  font-family: "Open Sans", "Arial", sans-serif;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

@media (max-width: $tablet-width) {
  body {
    @include margin-padding-reset;
    @include fonts;

    max-width: 660px;
    margin: 0 auto;

    font-family: "Open Sans", "Arial", sans-serif;
  }
}

@media (max-width: $desktop-width) {
  body {
    @include margin-padding-reset;
    @include fonts;

    max-width: 960px;
    margin: 0 auto;

    font-family: "Open Sans", "Arial", sans-serif;
  }
}

@media (min-width: $desktop-width) {
  body {
    @include margin-padding-reset;
    @include fonts;

    max-width: 1200px;
    margin: 0 auto;

    font-family: "Open Sans", "Arial", sans-serif;
  }
}
