body {
  @include fonts;

  font-family: "Open Sans", "Arial", sans-serif;
}

a {
  text-decoration: none;
}

.container {
  max-width: 320px;
  padding: 0 20px;
  margin: 0 auto;
}

.container--features {
  position: relative;

  background-color: $grey;
}

.container--footer {
  @include flex-between;
  flex-direction: column;
}

.container--form {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

.container--photos {
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

@media (min-width: $mobile-width) {
  .container {
    max-width: 320px;
  }
}

@media (min-width: $tablet-width) {
  .container {
    max-width: 660px;
  }

  .container--form {
    padding: 0;
  }

  .container--footer {
    flex-direction: row;
  }

  .container--photos {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .container--photos-form {
    height: 450px;
  }
}

@media (min-width: $desktop-width) {
  .container {
    max-width: 960px;
    padding: 0 10px;
    margin: 0 auto;
  }

  .container--photos-form {
    padding: 57px 60px 0 80px;

    background-color: $grey;
  }
}
