body {
  @include fonts;

  font-family: "Open Sans", "Arial", sans-serif;
}

a {
  text-decoration: none;
}

.container {
  max-width: 320px;
  padding: 0 20px;
}

.container--features {
  position: relative;

  background-color: $grey;
}

.container--footer {
  @include flex-between;
}

.container--form {
  display: flex;
  flex-direction: column;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

@media (min-width: 321px) and (max-width: $tablet-width) {
  .container {
    max-width: 660px;
  }
}

@media (min-width: 661px) and (max-width: $desktop-width) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: $desktop-width) {
  .container {
    max-width: 960px;
    padding: 0 10px;
    margin: 0 auto;
  }
}
